.items {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.first {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  padding: 5px 0px 0px 10px;
  box-sizing: border-box;
}
.second {
  text-align: center;
  line-height: 100px;
}
.box3 {
  display: flex;
  justify-content: center;
}
.box4 {
  display: flex;
  justify-content: flex-start;
}
.box4 > .items {
  margin-right: 20px;
}
.box5 {
  display: flex;
  justify-content: space-between;
}
.box6 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box6 > .pocket {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}
.pocket .items {
  margin: 20px;
}

.box7 {
  display: flex;
  justify-content: space-between;
}
.box7 > .pocket1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box7 > .pocket {
  display: flex;
  justify-content: flex-end;
}
