.top {
  display: flex;
  justify-content: space-between;
}
.company {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.company > div {
  margin-left: 10px
}
.company > div > h2 {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}
main > .main-picture {
  display: flex;
  justify-content: center;
}
.big-contact > h2 {
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
}
.contact > form {
  border: 2px solid black;
  padding: 10px 5px;
  margin-right: 20px;
}
.contact > form > .bt {
  display: flex;
  justify-content: center;
}
.more {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.more > h2 {
  display: flex;
  justify-content: center;
}
.more-list {
  display: flex;
  justify-content: space-evenly;
}
footer {
  display: flex;
  justify-content: center;
}
